In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
from IPython.display import display

diamonds_url = "https://raw.githubusercontent.com/TrainingByPackt/Interactive-Data-Visualization-with-Python/master/datasets/diamonds.csv"

In [3]:
# Load dataframe directly from an url
diamonds_df = pd.read_csv(diamonds_url)
# Load data from seaborn datasets
diamonds_df = sns.load_dataset('diamonds')

In [6]:
# Load desired columns from dataset
diamonds_df_specific_cols = pd.read_csv(diamonds_url, usecols=['carat', 'cut' , 'color', 'price'])
diamonds_df_specific_cols

       carat        cut color  price
0       0.23      Ideal     E    326
1       0.21    Premium     E    326
2       0.23       Good     E    327
3       0.29    Premium     I    334
4       0.31       Good     J    335
...      ...        ...   ...    ...
53935   0.72      Ideal     D   2757
53936   0.72       Good     D   2757
53937   0.70  Very Good     D   2757
53938   0.86    Premium     H   2757
53939   0.75      Ideal     D   2757

[53940 rows x 4 columns]

In [8]:
display(diamonds_df)

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

# Categorical Data

cut, color, clarity adalah data kategorikal \
carat, depth, table, price, x, y, z adalah data numerikal

Kolom cut, color, clarity adalah data kategorikal yang bersifat ordinal \
Data ordinal adalah data kategorikal yang bisa diurutkan berdasarkan rankingnya atau peringkatnya\
misal: Pangkat, Ranking Tim Liga Satu

In [12]:
print(diamonds_df.cut.nunique(),'\n', diamonds_df.cut.unique(), '\n')
print(diamonds_df.color.nunique(), '\n', diamonds_df.color.unique(), '\n')
print(diamonds_df.clarity.nunique(),'\n', diamonds_df.clarity.unique())

5
 ['Ideal', 'Premium', 'Good', 'Very Good', 'Fair']
Categories (5, object): ['Ideal', 'Premium', 'Very Good', 'Good', 'Fair']

7
 ['E', 'I', 'J', 'H', 'F', 'G', 'D']
Categories (7, object): ['D', 'E', 'F', 'G', 'H', 'I', 'J']

8
 ['SI2', 'SI1', 'VS1', 'VS2', 'VVS2', 'VVS1', 'I1', 'IF']
Categories (8, object): ['IF', 'VVS1', 'VVS2', 'VS1', 'VS2', 'SI1', 'SI2', 'I1']

Dapat dilihat kolom cut menggambarkan ranking dari diamond \
Data color mengurutkan warna dari diamond dari J (worst) - D (Best)\
Data clarity mengurutkan kejernihan dari diamond I1
(worst), SI1, SI2, VS1, VS2, VVS1, VVS2, and IF (best).

Untuk menghitung mean, median, dan mode dari data kategorikal kita tambahkan parameter\
`include='category'` pada method describe()

In [15]:
diamonds_df.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [18]:
diamonds_df.describe(include='category')

          cut  color clarity
count   53940  53940   53940
unique      5      7       8
top     Ideal      G     SI1
freq    21551  11292   13065

In [19]:
diamonds_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  category
 2   color    53940 non-null  category
 3   clarity  53940 non-null  category
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: category(3), float64(6), int64(1)
memory usage: 3.0 MB

# Add columns to dataframe

In [25]:
# Dua cara untuk melihat Dataframe dengan column cut == "Ideal"
diamonds_low_df = diamonds_df.loc[diamonds_df['cut'] == 'Ideal']
diamonds_low_df = diamonds_df[diamonds_df['cut'] == 'Ideal']

diamonds_low_df

       carat    cut color clarity  depth  table  price     x     y     z
0       0.23  Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
11      0.23  Ideal     J     VS1   62.8   56.0    340  3.93  3.90  2.46
13      0.31  Ideal     J     SI2   62.2   54.0    344  4.35  4.37  2.71
16      0.30  Ideal     I     SI2   62.0   54.0    348  4.31  4.34  2.68
39      0.33  Ideal     I     SI2   61.8   55.0    403  4.49  4.51  2.78
...      ...    ...   ...     ...    ...    ...    ...   ...   ...   ...
53925   0.79  Ideal     I     SI1   61.6   56.0   2756  5.95  5.97  3.67
53926   0.71  Ideal     E     SI1   61.9   56.0   2756  5.71  5.73  3.54
53929   0.71  Ideal     G     VS1   61.4   56.0   2756  5.76  5.73  3.53
53935   0.72  Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53939   0.75  Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[21551 rows x 10 columns]

Menambah column pada dataframe

In [26]:
diamonds_df['price_per_carat'] = diamonds_df['price'] / diamonds_df['carat']
diamonds_df

,carat,cut,color,clarity,depth,table,price,x,y,z,price_per_carat
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,1417.391304
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,1552.380952
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,1421.739130
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,1151.724138
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,1080.645161
...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,3829.166667
53936,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,3829.166667
53937,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,3938.571429
53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,3205.813953
53939,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,3676.000000

Pakai np.where(<condition>) untuk mengklasifikasi price_per_carat yang mahal

In [28]:
diamonds_df['price_per_carat_is_high'] = np.where(diamonds_df['price_per_carat'] > 3500, 1, 0)
diamonds_df

,carat,cut,color,clarity,depth,table,price,x,y,z,price_per_carat,price_per_carat_is_high
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,1417.391304,0
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,1552.380952,0
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,1421.739130,0
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,1151.724138,0
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,1080.645161,0
...,...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,3829.166667,1
53936,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,3829.166667,1
53937,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,3938.571429,1
53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,3205.813953,0
53939,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,3676.000000,1

# Applying Functions on DataFrame Column

In [32]:
import math
# Ceil harga price menggunakan apply
diamonds_df['new_price'] = diamonds_df.price * 1.3
diamonds_df['new_price'] = diamonds_df.new_price.apply(math.ceil)

# Menggunakan lambda untuk ceil ke nilai kelipatan 100 terdekat
diamonds_df.new_price = diamonds_df.new_price.apply(lambda x: math.ceil(x/100)*100)
diamonds_df

,carat,cut,color,clarity,depth,table,price,x,y,z,price_per_carat,price_per_carat_is_high,new_price
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,1417.391304,0,500
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,1552.380952,0,500
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,1421.739130,0,500
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,1151.724138,0,500
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,1080.645161,0,500
...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,3829.166667,1,3600
53936,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,3829.166667,1,3600
53937,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,3938.571429,1,3600
53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,3205.813953,0,3600
53939,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,3676.000000,1,3600

# Applying Functions on Multiple Columns

In [37]:
# Menggunakan apply pada multiple columns
# 'yes' apabila cut = Ideal dan color = D
def is_desired(df):
    return 'yes' if df['cut'] == 'Ideal' and df['color'] == 'D' else 'no'

# parameter axis=1 untuk memilih column
diamonds_df['is_desired'] = diamonds_df.apply(is_desired, axis=1)
diamonds_df

,carat,cut,color,clarity,depth,table,price,x,y,z,price_per_carat,price_per_carat_is_high,new_price,is_desired
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,1417.391304,0,500,no
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,1552.380952,0,500,no
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,1421.739130,0,500,no
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,1151.724138,0,500,no
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,1080.645161,0,500,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,3829.166667,1,3600,yes
53936,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,3829.166667,1,3600,no
53937,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,3938.571429,1,3600,no
53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,3205.813953,0,3600,no
53939,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,3676.000000,1,3600,yes

# Delete columns on DataFrame

In [39]:
# Menggunakan drop dan parameter columns
diamonds_df.drop(columns=['new_price'])

# Menggunakan parameter inplace untuk menghapus column tanpa reassign ke variable
diamonds_df.drop(columns=['new_price'], inplace=True)

In [40]:
diamonds_df

,carat,cut,color,clarity,depth,table,price,x,y,z,price_per_carat,price_per_carat_is_high,is_desired
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,1417.391304,0,no
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,1552.380952,0,no
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,1421.739130,0,no
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,1151.724138,0,no
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,1080.645161,0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,3829.166667,1,yes
53936,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,3829.166667,1,no
53937,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,3938.571429,1,no
53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,3205.813953,0,no
53939,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,3676.000000,1,yes

In order to prepare the ground for using various visualization techniques, we went
through the following aspects of handling pandas DataFrames:

- Reading data from files using the read_csv( ), read_excel( ), and readjson() functions

- Observing and describing data using the dataframe.head( ), dataframe.
tail( ), dataframe.describe( ), and dataframe.info( ) functions

- Selecting columns using the dataframe.column__name or
dataframe['column__name'] notation

- Adding new columns using the dataframe['newcolumnname']=... notation

- Applying functions to existing columns using the dataframe.apply(func)
function

# Histogram

In [1]:
diamonds_df.hist(column='carat')

NameError: name 'diamonds_df' is not defined